#headerWrapper {
    header {
        padding: 2rem $gutter;
    }
    h1 {
        font-size: 2rem;
    }
}
nav {
    a {
        ion-icon {
            display: none;
        }
        span {
            display: block;
        }
    }

}
.allCards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - ($gutter/2));
    }
}