#headerWrapper {
    header {
        padding: 2rem $gutter;
    }
    h1 {
        font-size: 2rem;
    }
}

#cards {
    section {
        grid-template-areas: 
        "photo name" 
        "photo address" 
        "photo phone";
        column-gap: 8px;
    }
}
