/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; scroll-behavior: smooth;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}
/* HEADER  */
header {
    display: grid;
    grid-template-columns: 51px auto 48px;
    align-items: center;
	padding: .5rem 2vw;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $fontColor;
    }
} // end header
#navWrapper {
    background-color: $menuColor;
    position: sticky;
    top: 0;
}
nav {
    ul {
       list-style-type: none;
       padding: 0;
       margin: 0;
       display: flex;
    }
    li {
        flex: 1;
    }
    li.active {
        background-color: darken($menuColor, 10%);
    }
    a {
        display: block;
        padding: .75rem;
        text-align: center;
        border-bottom: 1px rgba(47,89,85,.25) solid;
        text-decoration: none;
        color: $fontColor;
        ion-icon {
            width: 25px;
        }
        span {
            display: none;
        }
    }
    ul li a:hover {
        background-color: lighten($menuColor, 10%);
        color: #F2C849;
    }
}
/* MAIN  */
main {
 	p {padding: .5rem 2vw; color: $fontColor; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $primaryColor;
        font-weight: $lightWeight;
    }
} // end main
section {
    h2 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $primaryColor;
        font-weight: $lightWeight;
    }
}
#one {
    p {
       font-size: 1rem;
       height: 100vh;
    }
}
.allCards {
    padding: 0 $gutter;
    section {
        border: solid 1px $secondaryColor;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
        h3, p, img {
            margin: 0;
            padding: 1rem $gutter;
        }
        h3 {
            background-color: $fontColor;
            font-size: 1.5rem;
            text-align: center;
            color: white;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        img.e2e {
        padding: 0;
        }
        p {
            font-style: italic;
            text-align: center;
        }
    }
}
.rankings {
    width: 100%;
    height: auto;
}
/* FOOTER  */
#footerWrapper {background-color: $secondaryColor; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: $fontColor;
	text-align: center;
}
